{{ define "main" }}

<main class="px-5 max-w-4xl m-auto">

    <article class="mb-20">
        <header>
           
            <h1 class="text-3xl/10 lg:text-5xl/14 text-slate-100 font-bold mt-6 mb-6">Cześć! Nazywam się Arkadiusz
                    Kulewicz 👋</h1>

        </header>
        <div class="text-lg grid md:grid-cols-2 gap-10">
            
            <img class="rounded-xl" src="/images/arek.webp" alt="">

            <div>
                <ul class="list-disc pl-4">
                <li class="mb-2">Od ponad dekady kieruję projektami i zespołami. Aktualnie pracuję w
                <strong>Gdańskim Centrum Świadczeń</strong>, gdzie jako kierownik Działu Organizacyjnego zajmuję się
                organizacją procesów, obiegiem dokumentów i usprawnianiem codziennej pracy z wykorzystaniem technologii.
                </li>

            <li class="mb-2">Technologia towarzyszy mi od początku kariery zawodowej. Tworzyłem sieci,
                wdrażałem systemy, tworzyłem strony WWW, pisałem aplikacje automatyzujące codzienne zadania. </li>

            <li class="mb-2">Ukończyłem <strong>studia podyplomowe z Cyberbezpieczeństwa systemów informatycznych i telekomunikacyjnych</strong>, jestem
                również certyfikowanym <strong>audytorem wiodącym Systemu Zarządzania Bezpieczeństwem Informacji wg
                    Normy PN-EN ISO/IEC 27001:2023</strong> </li>

            <li class="mb-2">Buduję własne środowisko homelab, w którym eksperymentuję z cybersecurity, automatyzacją, konteneryzacją, monitorowaniem i hardeningiem systemów Linux. </li>
            </ul>
            </div>

            
            {{/*  <p>Od ponad dekady kieruję projektami i zespołami w administracji publicznej. Aktualnie pracuję w
                <strong>Gdańskim Centrum Świadczeń</strong>, gdzie jako kierownik Działu Organizacyjnego zajmuję się
                organizacją procesów, obiegiem dokumentów i usprawnianiem codziennej pracy z wykorzystaniem technologii.
            </p>

            <p>Choć moja droga zawodowa nie jest ściśle związana z IT, technologia towarzyszy mi od początku. Tworzyłem
                i prowadziłem strony internetowe, pisałem aplikacje automatyzujące codzienne zadania, a także narzędzia
                wspierające audyty stron WWW pod kątem zgodności z WCAG. </p>

            <p>Z czasem coraz bardziej wciągnął mnie świat <strong>cyberbezpieczeństwa i DevOps</strong>, dlatego
                rozwijam się w tym kierunku, zarówno teoretycznie, jak i praktycznie. <strong>Ukończyłem studia
                    podyplomowe z Cyberbezpieczeństwa systemów informatycznych i telekomunikacyjnych</strong>, jestem
                również certyfikowanym <strong>audytorem wiodącym Systemu Zarządzania Bezpieczeństwem Informacji wg
                    Normy PN-EN ISO/IEC 27001:2023</strong>. </p>

            <p>Jestem zwolennikiem zderzania wiedzy z praktyką. Dlatego buduję własne środowisko homelab, w którym
                eksperymentuję z administrowaniem serwerami, automatyzacją, konteneryzacją, monitorowaniem i
                hardeningiem systemów Linux. Dzięki temu mogę nie tylko rozumieć technologię, ale też faktycznie
                sprawdzać, jak działa w praktyce — od konfiguracji po bezpieczeństwo. </p>  */}}
        </div>
    </article>
</main>

{{ end }}